.sidebar {
    padding: 10px;
    width: 13%;
    background-color: #1f1f23;
    display: flex;
    flex-direction: column;
}

.sidebar-top {
    flex: 1;
}

.sidebar-top>h5 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar-topShowMore {
    color: #a970ff;
    cursor: pointer;
}

.sidebar-bottom {
    position: fixed;
    bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4f4f52;
}

.sidebar-bottomContainer {
    background-color: #4f4f52;
    width: 90%;
    display: flex;
    height: 2rem;
    border-radius: 8px;
    align-items: center;
    padding-left: 10px;
}

.sidebar-bottom>div>input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: large;
    width: 100%;
    margin-left: 10px;
}